.brandLogo {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    transition: all 0.1s ease-in-out;
    margin-top: 0;
    padding-top: 0;
}

.brandLogo img {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
    background-color: var(--bs-primary);
    transition: all 0.1s ease;
    margin-top: 0;
}

.topDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.searchForm {
    display: flex;
    align-items: center;
}

.searchButton {
    width: 36px;
    height: 36px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchControl {
    border: 1px solid rgb(206, 206, 206);
    background-color: white;
    height: 36px;
    color: black !important;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.searchControl::placeholder {
    color: grey;
}

.searchControl:focus {
    border-color: rgb(75, 75, 75);
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mouseDown img {
    background-color: #3C0000;
}

.bottomDiv {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 60px;
    background: linear-gradient(to bottom, #500000 0%, #500000 77%, #3c0000 100%);
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.navLink {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bs-primary);
    font-size: 1.25rem;
    color: white;
}

.navLink:hover {
    background-color: #3C0000;
    color: white;
}

.active {
    background-color: #3C0000;
    color: white !important;
}

.navLink+.navLink {
    margin-left: 0;
}