.footerContainer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.legalContainer {
    margin-top: 10px;
}

.socialIcon {
    font-size: 28px;
    margin: 0 8px;
    transition: color 0.2s ease;
    color: white;
}

.discordIcon:hover {
    color: #7289da;
}

.twitterIcon:hover {
    color: #1da1f2;
}

.twitchIcon:hover {
    color: #9146ff;
}

.tiktokIcon:hover {
    color: #000000;
}

.instagramIcon:hover {
    color: #E1306C;
}

.facebookIcon:hover {
    color: #3b5998;
}

.linkedInIcon:hover {
    color: #0077B5;
}

.legalContainer a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}