.bannerSpacer {
    height: 300px;
    background-color: black;
}

.sponsorContainer,
.partnerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sponsorContainer a,
.partnerContainer a {
    text-align: center;
    margin: 20px;
}

.sponsorContainer img,
.partnerContainer img {
    max-width: 100px;
    height: auto;
}

.sponsorsPartnersContainer {
    padding: 100px 0px;
}

.sponsorsPartnersSpacer {
    height: 100px;
}